* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

section {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 15fr 75fr;
}

/* NOTE: Sidebar */
.sidebar {
  background-color: #1992d4;
  grid-row: 1 / -1;
  padding: 24px;
}

.brand {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #fff;
}

.logo {
  height: 28px;
  width: 28px;
}

.brand-name {
  font-size: 20px;
  font-weight: 600;
}

.main-nav {
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.main-nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.list-item {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 16px;
}

.small-icon {
  color: #fff;
  height: 20px;
  width: 20px;
}

.main-nav-link {
  text-decoration: none;
  color: #fff;
}

/* NOTE: Header */
.header {
  display: grid;
  grid-template-columns: 70fr 30fr;
  align-items: center;
  row-gap: 22px;
  padding: 32px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  z-index: 1;
}

.search-field {
  display: flex;
  gap: 12px;
}

label {
  display: flex;
  align-items: center;
}

.search-field input {
  width: 100%;
  padding: 4px 12px;
  border: none;
  border-radius: 999px;
  background-color: #e2e8f0;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-self: end;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 16px;
}

.intro-greeting,
.user-info .user-name,
.header-nav .user-name {
  font-size: 14px;
  font-weight: 500;
}

.user-info .user-name {
  font-size: 22px;
}

.header-nav .user-name {
  font-size: 18px;
}

.header-buttons {
  display: flex;
  gap: 24px;
  justify-self: end;
}

.header .small-icon {
  color: #000;
}

.header-nav .user-icon,
.user-info .user-icon {
  border-radius: 50%;
}

.header-nav .user-icon {
  width: 36px;
  height: 36px;
}

.user-info .user-icon {
  width: 64px;
  height: 64px;
  grid-column: 1 / 2;
  grid-row: 1 / -3;
}

.header .btn {
  padding: 6px 16px;
  border-radius: 999px;
  color: #fff;
}

/* NOTE: Main */
.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 24px;
  padding: 32px;
  background-color: #e2e8f0;
}

.main-title {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 500;
}

.projects-container {
  grid-row: 1/-1;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 32px;
}

.project {
  background-color: #fff;
  padding: 24px;
  border-radius: 7px;
  border-left: 8px solid orange;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.project-title {
  font-weight: 500;
  margin-bottom: 8px;
}

.project-description {
  font-size: 14px;
  color: #777;
}

.tools {
  display: flex;
  justify-content: flex-end;
  gap: 14px;
  margin-top: 24px;
}

.tools .small-icon {
  color: #000;
}

/* Announcements */
.announcements-container {
}

.announcements,
.trending {
  display: grid;
  grid-template-rows: 1fr;
  background-color: #fff;
  padding: 24px;
  border-radius: 7px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.announcement {
  padding: 14px 7px;
  border-bottom: 1px solid #d7d7d7;
}

.announcement:first-child {
  padding-top: 0;
}

.announcement:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.announcement-title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
}

.announcement-content,
.trending-user-desc {
  font-size: 14px;
  color: #777;
}

/* Trending */

.trending-container {
  grid-column: 2/-1;
}
.trending {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.trending-user {
  display: flex;
  align-items: center;
  gap: 16px;
}

.trending-user-img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.trending-user-handler {
  font-size: 14px;
}
